SERVER_HOST=0.0.0.0
SERVER_PORT=8080
JWT_SECRET=
# Deprecated (used nahi hota)
# ADMIN_SECRET_KEY=
# DEFAULT_ADMIN_USERNAME=admin
# DEFAULT_ADMIN_PASSWORD=admin123

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=
DB_NAME=priceFeeder
DB_PORT=5432
DB_SSLMODE=disable

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

ZERODHA_API_KEY=
ZERODHA_API_SECRET=
ZERODHA_REQUEST_TOKEN=
ZERODHA_ACCESS_TOKEN=
ZERODHA_WS_ENDPOINT=wss://ws.kite.trade
# DB-backed instrument sourcing
# ZERODHA_INSTRUMENTS=
# ZERODHA_INDEX_INSTRUMENTS=
# ZERODHA_MCX_INSTRUMENTS=

curl --location --request GET '{{base_url}}/admin/instruments
?page=1&limit=20&include_deleted=false&instrument_type=PE&segment=NFO-OPT&exchange=NFO&status=ACTIVE&expiry=11-03-26&search=VBL' \
--header 'Authorization: Bearer {{jwt_token}}'