SERVER_HOST=0.0.0.0
SERVER_PORT=8080
JWT_SECRET=

ADMIN_USERNAME=admin@example.com
ADMIN_PASSWORD=change-me-before-deploying

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=
DB_NAME=priceFeeder
DB_PORT=5432
DB_SSLMODE=disable

ZERODHA_API_KEY=
ZERODHA_API_SECRET=
ZERODHA_REQUEST_TOKEN=
ZERODHA_ACCESS_TOKEN=
ZERODHA_WS_ENDPOINT=wss://ws.kite.trade
